.img-banner{
    width: 100%;
    transition: all 0.5s; 
}
.Carousel{
    width: 100%; 
}
.img-banner:hover{
    transform:translateX(-25px); 
}
.img-banner1 {
    z-index: -1;
}
span.carousel-control-next-icon {
display: none;
}
span.carousel-control-prev-icon {
    display: none;
}
                /* media querry */

@media only screen and (max-width:992px) {
    .img-banner1 {
        display: none;
    }
}
.carousel-indicators [data-bs-target] {
    display: none;
}
                /*end media querry */

