form{
    margin: auto;
    width: 350px;
    border: 1px solid rgb(207, 193, 193);
    border-radius: 5px;
}
.photo{
    margin: auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.form h2{
    color: rgba(26, 25, 25, 0.774);
    font-family:"Amazon Ember",Arial,sans-serif;
    padding-left: 30px;
    padding-top: 10px;
}
.form label{
    color: rgba(14, 13, 13, 0.774);
    font-family:"Amazon Ember",Arial,sans-serif;
    padding-left: 30px;
    font-weight: 800;
    font-size: 13px;
}
.form input{
    margin-top: 5px;
    margin-left: 30px;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid gray;
    outline:none;
}
.form button{
    margin-top: 15px;
    margin-left: 30px;
    width: 300px;
    height: 30px;
    background-color:   #eec662;
    border-radius: 3px;
    border: 1px solid gray;
    color: rgb(14, 13, 13);
}
.form h5{
    color: rgba(14, 13, 13, 0.774);
    font-family:"Amazon Ember",Arial,sans-serif;
    padding-left: 30px;
    font-size: 12px;
    margin-top: 20px;
    padding-right: 15px;
}
.link{
    color: rgb(0, 110, 255);
    text-decoration: none;
}
.link:hover{
    border-bottom: 1px solid crimson;
    color:crimson;
}
.help{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.helpLink{
    color: rgb(0, 110, 255);
    padding-left: 0px;
    font-size: 13px;
    text-decoration: none;
}
.helpLink:hover{
    border-bottom: 1px solid crimson;
    color:crimson;
}
.icon{
    padding-left: 20px;
    font-size: 2px;
    color: gray;
}
.formFooter{
    text-align: center;    
}
.formFooter h5{
    color: rgba(14, 13, 13, 0.774);
    font-family:"Amazon Ember",Arial,sans-serif;
    font-size: 13px;
    margin-top: 20px;
}
.formFooter button{
    width: 350px;
    height: 30px;
    color: rgba(14, 13, 13, 0.774);
    margin-bottom: 20px;
}
.formFooterLink{
    font-size: 10px;
    margin-left: 15px;
    font-family:"Amazon Ember",Arial,sans-serif;
    text-decoration: none;
    color: rgb(0, 110, 255);
}
.formFooterLink:hover{
    border-bottom: 1px solid crimson;
    color:crimson;
}
.formFooter h4{
    font-size: 12px;
    color: rgba(48, 45, 45, 0.774);
}
.amazon{
text-align: center;
font-size:60px;
margin-top: 50px;
margin-bottom: 20px;
color: black;
text-decoration:#e7e7e7;
font-family: "Times New Roman", Times, serif;

}